.labelSearch {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputSearch {
  min-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
}

