.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
  align-items: center;
}

.metamaskBtn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.metamaskBtn:hover {
  background-color: #2589c3;
}

.selectNetwork {
  padding: 4px;
  outline: none;
  border-radius: 5px;
  margin-left: 24px;
}

.selectContainer {
  display: flex;
  align-items: center;
}

